{% extends "layout.html" %}

{% block head %}
    <title>
        Name a color
    </title>
    <script src="/static/name.js"></script>
{% endblock %}

{% block main %}
    <form method="POST">
        <input class="form-control mx-auto w-auto" autofocus="on" autocomplete="off" placeholder="Red" name="red" id="red"><br>
        <input class="form-control mx-auto w-auto" autofocus="on" autocomplete="off" placeholder="Green" name="green" id="green"><br>
        <input class="form-control mx-auto w-auto" autofocus="on" autocomplete="off" placeholder="Blue" name="blue" id="blue"><br>
        <button class="btn btn-primary">Name</button>
    </form>
    <br><button id="random">Can't think of values? Press me! I'll autofill!</button>
{% endblock %}


